{% extends 'layout/layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<a href="settings" class="button">
    <img class="img_icon" src="{{url_for('static', filename='SVG/settings.svg')}}" width=50 height=50>
    <span>Settings</span>
</a>

<a id="translate" href="translate" class="button">
    <img class="img_icon" src="{{url_for('static', filename='SVG/translation.svg')}}" width=50 height=50>
    <span>Translate</span>
</a>

<a href="images" class="button">
    <img class="img_icon" src="{{url_for('static', filename='SVG/image.svg')}}" width=50 height=50>
    <span>Images / Video / Slide</span>
</a>


<a href="sync" class="button">
    <img class="img_icon" src="{{url_for('static', filename='SVG/refresh.svg')}}" width=50 height=50>
    <span>Sync Time</span>
</a>


<a href="advanced" class="button">
    <img class="img_icon" src="{{url_for('static', filename='SVG/more.svg')}}" width=50 height=50>
    <span>Advanced</span>
</a>




<br><hr><br>
<a id="prayerscreen" href="prayerscreen" class="button" >Prayer time Screen</a>
{% endblock %}