* {
box-sizing: border-box;
}

body {
font-family: Arial;
padding: 5px;
background: #f1f1f1;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
}
#title{ 
    font-weight: 800;
    color: white;
    text-decoration: none !important;
    font-size: 35px;
    line-height: 1.1;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#content{
    max-height: 150px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#author{
    color: white;
    font-size: 20px;

    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

}


.card {

background-color: #777;
padding: 20px;
margin-top: 20px;
}

