{% extends 'layout/layout.html' %}
{% block title %}Advanced{% endblock %}
{% block content %}
<script src="{{url_for('static', filename='script/socket.io.js')}}" crossorigin="anonymous"></script>

<a href="prayertime" class="button">Change prayer times table</a>
<button  onclick=" update_button_accept()"class="button">Update System</button>
<a href="error" class="button">File with all error's</a>
<a href="setup-realtimeclock" class="button">Setup realtimeclock</a>
<hr><br>
<p id="screen-rotate-name">Screen rotation:</p>
<div class="parent">
    <button onclick="rotate('normal')" class="child">Normal</button>
    <button onclick="rotate('left')" class="child">Left</button>
    <button onclick="rotate('right')" class="child">Right</button>
    <button onclick="rotate('inverted')" class="child">Inverted</button>
</div>
<br>
<hr>
<br>
<p id="screen-rotate-name">Screen resolution:</p>
<div class="parent">
    <button onclick="resolution('2560x1440')" class="child">4K (2560x1440)</button>
    <button onclick="resolution('1920x1080')" class="child">HD (1920x1080)</button>
    <button onclick="resolution('1600x1200')" class="child">1600x1200</button>
    <button onclick="resolution('1536x864')" class="child">1536x864</button>
    <button onclick="resolution('1440x900')" class="child">1440x900</button>
    <button onclick="resolution('1366x768')" class="child">1366x768</button>
    <button onclick="resolution('1280x720')" class="child">1280x720</button>
    <button onclick="resolution('0')" class="child">Auto detect</button>
</div>
<a href="/" class="button" style="background-color: red !important;">Back</a>
<script>
    var socket = io();

    function update_button_accept(){
        if (confirm('Are you sure you want to update the system?')) {
            window.location.replace("/update")
        } 
    }
    const rotate = (rotation) => {
        console.log(rotation)
        socket.emit('rotate_screen', {"data": rotation});

    }

    const resolution = (resolution) => {
        console.log(resolution)
        socket.emit('resolution_screen', {"data": resolution});

    }
</script>

{% endblock %}