{% extends 'layout/layout.html' %}
{% block title %}Images{% endblock %}
{% block content %}


<div class="container_padding"> 
    <form action="/save/images" method="POST" enctype="multipart/form-data">
        <h1 class="title left">What should be shown on the screen:</h1>
        <span>What should be displayed? (Nothing / Images / Video / Slide)</span><br><br>
        <label for="slide_nothing">Nothing:</label>
        <input style="text-align:left; width: auto; height:auto; margin-right: 20px;" required id="slide_nothing" value="none"  {% if images['current_select'] == 'none'%}checked{% endif%} type="radio" name="slide" >
       
        <label for="slide_images">Images:</label>
        <input style="text-align:left; width: auto; height:auto;margin-right: 20px;" required id="slide_images" value="images"  {% if images['current_select'] == 'images'%}checked{% endif%}  type="radio" name="slide" >

        <label for="slide_video">Video:</label>
        <input style="text-align:left; width: auto; height:auto;margin-right: 20px;" required id="slide_video" value="video"  {% if images['current_select'] == 'video'%}checked{% endif%}  type="radio" name="slide" >

        <label for="slide_google_slide">Google Slide <span><b>(Internet is needed)</b></span>:</label>
        <input style="text-align:left; width: auto; height:auto;" required id="slide_google_slide" value="google_slide"  {% if images['current_select'] == 'google_slide'%}checked{% endif%}  type="radio" name="slide" >
        <br><br>
        <hr>
        <br>
        
        <label for="slide_delay">Slide delay (seconds):</label>
        <input type="number" id="isha_iqamah" required  min="2" name="slide_delay" placeholder="Slide delay" value="{{images['slide_delay']}}">
        <br>
        <br>

        {% if images['url_1'] != ''%}
        <label for="image1">Image 1 - {{images['url_1']}}</label>
        <input  style=" display: none;"type="text"  id="image1" name="image1" value="{{images['url_1']}}"> <br>
        <img height="170" width="170" alt="{{images['url_1']}}" src="{{url1}}"><br>
        <a class="back"   href="/delete/file/1">Delete</a>
        {% else %}
        <label for="image1">Image 1:</label>
        <input  style=" font-size:15px; height: auto !important; width: auto !important;"type="file"  accept="image/png, image/jpeg" id="image1"   name="image1" >      
        {% endif %}
        <br>
        <br>

        {% if images['url_2'] != ''%}
        <label for="image2">Image 2 - {{images['url_2']}}</label>
        <input  style=" display: none;"type="text"  id="image2" name="image2" value="{{images['url_2']}}"><br>
        <img height="170" width="170" alt="{{images['url_2']}}" src="{{url2}}"><br>
        <a class="back" href="/delete/file/2">Delete</a>
        {% else %}
        <label for="image2">Image 2:</label>
        <input style=" font-size:15px; height: auto !important; width: auto !important;" type="file"  accept="image/png, image/jpeg" id="image2" name="image2" > 
        {% endif %}
        <br>
        <br>

        {% if images['video_url'] != ''%}
        <label for="video_url">Video - {{images['video_url']}}</label>
        <input  style=" display: none;"type="text"  id="video_url" name="video_url" value="{{images['video_url']}}"><br>
        <a class="back" href="/delete/file/3">Delete</a>
        {% else %}
        <label for="video">Video:</label>
        <input style=" font-size:15px; height: auto !important; width: auto !important;" type="file" id="video"  accept="video/*" name="video" > 
        {% endif %}
        <br>
        <br>

        <label for="google_slide_url">Google Slide URL:</label>
        <input type="text" id="google_slide_url"  name="google_slide_url" placeholder="Google Slide URL" value="{{images['google_slide_url']}}">



        <a class="back" href="/">Back</a>

        <input type="submit" class="save"  value="Save"><br><br><br>

    </form>    
</div>

{% endblock %}
