<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}">
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Prayertimes Screen</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/prayer_time_screen.css')}}">
</head>
<body >

    <a>Hello</a>
    <button onclick="openFullscreen();">Open Video in Fullscreen Mode</button>

</body>
<script  type="text/javascript" src="{{url_for('static', filename='script/prayertime_screen.js')}}"></script>
</html>