{% extends 'layout/layout.html' %}

<!-- Title -->
{% block title %}Screen{% endblock %}

<!-- Header -->
{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/prayer_time.css')}}">
<script src="{{url_for('static', filename='script/socket.io.js')}}" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='script/qrcode.js')}}" ></script>
<script src="{{url_for('static', filename='script/handle_socket.js')}}" ></script>

{% endblock %}

<!-- Content -->
{% block content %}

<div class="container"> 
    <!--------- Headers ------------->
    <header class="headers">
        <p class="headers_content" ><span  id="current_time" >00:00:00</span></p>
        <p class="headers_content"> <span id="current_day_name">Monday</span> <span id="date_time" >0000-00-00</span></p>
    </header>

    <!--------- Body ------------->
    <div class="body">
        <div class="body_container">
            <section id="iqamah_text_section" class="table_header">
                <h2 id="prayer">Prayer</h2>
                <h2 id="begins">Begins</h2>
                <h2 id="iqamah">Iqamah</h2>
            </section>

            <!--------- FAJR------------->
            <section class="prayer_times_today">
                <h2 id="fajr">Fajr</h2>
                <h2 id="fajr-time">00:00</h2>
                <h2 id="fajr-time-iqamah">00:00</h2>
            </section>

            <!--------- Sunrise ------------->
            <section class="prayer_times_today">
                <h2 id="sunrise-h2">Sunrise</h2>
                <img id="sunrise_logo" src="{{url_for('static', filename='SVG/sunrise.svg')}}" height="100%" width="7%">
                <p id="sunrise-time" > 00:00</p>
            </section>

            <!--------- Dhuhr ------------->
            <section class="prayer_times_today">
                <h2 id="dhuhr">Dhuhr</h2>
                <h2 id="dhuhr-time">00:00</h2>
                <h2 id="dhuhr-time-iqamah">00:00</h2>
            </section>

            <!--------- Asr ------------->
            <section class="prayer_times_today">
                <h2 id="asr">Asr</h2>
                <h2 id="asr-time">00:00</h2>
                <h2 id="asr-time-iqamah">00:00</h2>
            </section>

            <!--------- Magrib ------------->
            <section class="prayer_times_today">
                <h2 id="mahgrib">Magrib</h2>
                <h2 id="maghrib-time">00:00</h2>
                <h2 id="maghrib-time-iqamah">00:00</h2>
            </section>

            <!--------- Isha ------------->
            <section class="prayer_times_today">
                <h2 id="isha">Isha</h2>
                <h2 id="isha-time">00:00</h2>
                <h2 id="isha-time-iqamah">00:00</h2>
            </section>
          </div>
    </div>

    <footer class="footer footer_container">
        <!-- Next section -->
        <div class="next_section" id="footer_header">
            <p id="next_text">Next...</p>
            <p id="next_prayer">-----</p>
            <p id="next_prayer_time">00:00</p>
            <p id="next_prayer_countdown">00:00:00</p>
        </div>
        <!-- Footer text -->
        <p id="footer_text">Please, turn off your phones</p>
    </footer>

    <div id="error">ERROR</div>
    <div id="qrcode"><span id="qrcode_ip">127.0.12312412412430.1</span></div>
</div>

{% endblock %}
