<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="icon" href="{{url_for('static', filename='icon.png')}}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Translate</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>
    <h2 style="text-align: center;color: black; margin-top: 5%; text-transform: uppercase;">Translate</h2>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="addForm" id="addForm" method="POST" action="{{ url_for('addtranslate') }}" novalidate>
            <h3>Days:</h3>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Monday</label>
                <input type="text" class="form-control" value="{{post.monday}}" placeholder="Monday" name="monday" id="monday" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Tuesday</label>
                <input type="text" class="form-control" value="{{post.tuesday}}" placeholder="Tuesday" name="tuesday" id="tuesday" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Wednesday</label>
                <input type="text" class="form-control"value="{{post.wednesday}}" placeholder="Wednesday" name="wednesday" id="wednesday" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Thursday</label>
                <input type="text" class="form-control" value="{{post.thursday}}"placeholder="Thursday" name="thursday" id="thursday" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Friday</label>
                <input type="text" class="form-control" value="{{post.friday}}" placeholder="Friday" name="friday" id="friday" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Saturday</label>
                <input type="text" class="form-control" value="{{post.saturday}}"placeholder="Saturday" name="saturday" id="saturday" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Sunday</label>
                <input type="text" class="form-control" value="{{post.sunday}}"placeholder="Sunday" name="sunday" id="sunday" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <h3>Prayer:</h3>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Prayer</label>
                <input type="text" class="form-control" value="{{post.prayer}}"placeholder="Prayer" name="prayer" id="prayer" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Begins</label>
                <input type="text" class="form-control" value="{{post.begins}}"placeholder="Begins" name="begins" id="begins" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Iqamah</label>
                <input type="text" class="form-control" value="{{post.iqamah}}"placeholder="Iqamah" name="iqamah" id="iqamah" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <h3>Prayer names:</h3>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Fajr</label>
                <input type="text" class="form-control" value="{{post.fajrname}}"placeholder="Fajr" name="fajrname" id="fajrname" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Sunrise</label>
                <input type="text" class="form-control" value="{{post.sunrisename}}"placeholder="Sunrise" name="sunrisename" id="sunrisename" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Dhuhr</label>
                <input type="text" class="form-control" value="{{post.dhuhrname}}"placeholder="Dhuhr" name="dhuhrname" id="dhuhrname" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Asr</label>
                <input type="text" class="form-control" value="{{post.asrname}}"placeholder="Asr" name="asrname" id="asrname" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Magrib</label>
                <input type="text" class="form-control" value="{{post.magribname}}"placeholder="Magrib" name="magribname" id="magribname" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Isha</label>
                <input type="text" class="form-control" value="{{post.ishaname}}"placeholder="Isha" name="ishaname" id="ishaname" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <h3>Other:</h3>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Next...</label>
                <input type="text" class="form-control" value="{{post.next1}}"placeholder="Next..." name="next1" id="next1" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Mosque credit</label>
                <input type="text" class="form-control" value="{{post.mosque}}"placeholder="Mosque credit" name="mosque" id="mosque" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Please, turn off your phones</label>
                <input type="text" class="form-control" value="{{post.shutphone}}"placeholder="Please, turn off your phones" name="shutphone" id="shutphone" required data-validation-required-message="Please enter something!">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>

            <div id="success"></div>
            <div class="form-group">
              <button type="submit" style="background-color: green;"class="btn btn-secondary" id="sendMessageButton">SAVE</button>
            </div>
          </form>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

  </body>

</html>
